<div class="main-container">
  <header class="header header-1">
    <div class="branding">
      <a href="javascript://">
        <span class="title">Lost Pets</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="postings" class="nav-link nav-text">Postings</a>
      <a href="sightings" class="nav-link nav-text">Sightings</a>
      <app-alert></app-alert>
    </div>
  </header>
    <div class="content-container">
      <main class="content-area">
          <router-outlet></router-outlet>
      </main>
    </div>
</div>
  
